// Taken from thoughtbot/bourbon library timing functions

:root {
  --ease-in-cubic: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  --ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);

  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);

  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

:root {
  --background: 0 0% 0%;
  --foreground: 0 100% 100%;
  --sky-300: 203 92% 53%;
  --gray-300: 0 0% 70%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-long {
  animation: fadeIn 1.2s ease-out;
}
